
@{
    ViewData["Title"] = "NerfMap";
}

<h2>NerfMap</h2>

<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=ApE76x2wWpJAOCGUZE4TJl46UDPFVlyjyC4lBQhndPs8KozGWyVH4_Ol-zV-3eOA'>

    function map(address) {
        $.get('https://dev.virtualearth.net/REST/v1/Locations', {
            countryRegion: "IL",
            addressLine: address,
            maxResaults: 1,
            key: "ApE76x2wWpJAOCGUZE4TJl46UDPFVlyjyC4lBQhndPs8KozGWyVH4_Ol-zV-3eOA"
        }, function (data) {
            var coordinates = data.resourceSets[0].resources[0].point.coordinates;

            var map = new Microsoft.Maps.Map(document.getElementById('map'), {
                center: new Microsoft.Maps.Location(coordinates[0], coordinates[1]),
                mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                zoom: 15
            });

            var pushpin = new Microsoft.Maps.Pushpin(map.getCenter(), null);
            map.entities.push(pushpin);
        }).
}
</script>
