@model NerfBuff.Models.Comments

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Comments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostId" class="control-label"></label>
                <select asp-for="PostId" class="form-control" asp-items="ViewBag.PostId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            <a href="https://twitter.com/intent/tweet?button_hashtag=nerfBuff&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #nerfBuff</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <div id="map" style="height:500px">
            </div>
            <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=ApE76x2wWpJAOCGUZE4TJl46UDPFVlyjyC4lBQhndPs8KozGWyVH4_Ol-zV-3eOA'>

                function map(address) {
                    $.get('https://dev.virtualearth.net/REST/v1/Locations', {
                        countryRegion: "IL",
                        addressLine: address,
                        maxResaults: 1,
                        key: "ApE76x2wWpJAOCGUZE4TJl46UDPFVlyjyC4lBQhndPs8KozGWyVH4_Ol-zV-3eOA"
                    }, function (data) {
                        var coordinates = data.resourceSets[0].resources[0].point.coordinates;

                        var map = new Microsoft.Maps.Map(document.getElementById('map'), {
                            center: new Microsoft.Maps.Location(coordinates[0], coordinates[1]),
                            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                            zoom: 15
                        });

                        var pushpin = new Microsoft.Maps.Pushpin(map.getCenter(), null);
                        map.entities.push(pushpin);
                    });
                }
            </script>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
