@{
    ViewData["Title"] = "Buff my Nerf";
}

<article>
	<header>
		<h2><a href="https://herbert.io">Short note on wearing shorts (SPOILERS: THAT'S GAY! :laughingemoji:)</a></h2>
		<p>
			Posted on Wednesday, 10 February 2016 by Patrick Lauke.
			<a href="https://herbert.io/short-note/#comments">6 comments</a>
		</p>
	</header>
	<p>
		A fellow traveller posed an interesting question: Why do you wear shorts rather than
		longs? The person was wearing culottes as the time, so I considered the question equivocal in nature,
		but I attempted to provide an honest answer despite the dubiousness of the questioner’s dress.
	</p>
	<p>The short answer is that I enjoy wearing shorts, the long answer is...</p>
	<p>
		<a href="https://herbert.io/short-note/">
			Continue reading: Short note on
			wearing shorts
		</a>
	</p>
</article>
<article>
	<header>
		<h1><a href="https://herbert.io">FORTNITEMARES RETURNING</a></h1>
		<p>
			Posted Today by some fucking kiddo.
			<a href="https://herbert.io/short-note/#comments">420 comments</a>
		</p>
	</header>
	<img src="https://cdn.website-editor.net/febced86a20240e4a29b9ce0ccadcef3/dms3rep/multi/desktop/Fortnite-Fortnitemares-Halloween-Skins-Update-1_feature-1200x450.jpg"/>
	<p>With Halloween quickly approaching, Epic Games has added some decorations for this event in Fortnite Battle Royale. Players can see a couple of Halloween-themed decorations in different places on the island. Popular Fortnite streamer Ninja had revealed that we would get another Halloween event in the game, and these decorations have just confirmed it.</p>
	<p>Fortnite players can find “ghosts” and cobwebs in some places on the island. One of the houses in Pleasant Park was covered by a cobweb and there are spiders on it and in front of it. Additionally, ghosts can be found in multiple places, such as Tilted Towers and Fatal Fields. It is interesting to note that some of these ghosts have different faces.</p>
	<p>Fortnite Battle Royale was released in September 2017 and its first major event was about Halloween. The Fortnitemares event was released with the patch 1.8 and it added many improvements to the video game. Furthermore, Fortnite shop was opened with this patch and players had a chance to buy their first skins.</p>
	<p>Last year, Fortnite did not receive many changes during the Halloween event. While there were a few small changes, such as a different Rocket Launcher skin, there was nothing significant.</p>
	<p>Fortunately, it appears that Fortnite players will receive a huge Halloween event this year. These decorations should be just the tip of the iceberg. According to Ninja, the Fortnite developer will release some cool things for this year’s Halloween event.</p>
	<p>Many players are wondering if Epic Games will release Skull Trooper back in the store, and this is something we have no answer for at the moment. However, considering how popular this skin is, it will be surprising if the developer doesn’t release it. Last year’s Halloween event started on October 26, so we can expect it to be released within a few weeks.</p>
	<p>

		<a href="https://herbert.io/short-note/">
			Continue reading: Short note on
			wearing shorts
		</a>
	</p>
</article>

@*<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>*@


